*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, #05996d, #7ef5af);
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10%;
}

.form-box h1{
    font-size: 50px;
    margin-bottom: 40px;
    color: black;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    margin: 15px 70px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.btn-field{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-top: 20px;
}

